# Build folder and log file
build/
build.log
.vscode
.exe
.xml
.log
/cmake-build-debug/.cmake/api/v1/query/cache-v2
/.idea/.gitignore
/.idea/Arthur_Morgan.iml
/cmake-build-debug/CMakeFiles/clion-environment.txt
/cmake-build-debug/CMakeFiles/cmake.check_cache
/cmake-build-debug/CMakeCache.txt
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.c
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.exe
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdC/CMakeCCompilerId.obj
/cmake-build-debug/CMakeFiles/3.25.2/CMakeCXXCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.cpp
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.exe
/cmake-build-debug/CMakeFiles/3.25.2/CompilerIdCXX/CMakeCXXCompilerId.obj
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_C.bin
/cmake-build-debug/CMakeFiles/3.25.2/CMakeDetermineCompilerABI_CXX.bin
/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
/cmake-build-debug/CMakeFiles/CMakeOutput.log
/cmake-build-debug/CMakeFiles/3.25.2/CMakeRCCompiler.cmake
/cmake-build-debug/CMakeFiles/3.25.2/CMakeSystem.cmake
/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
/.idea/codeStyles/codeStyleConfig.xml
/cmake-build-debug/CMakeFiles/ShowIncludes/foo.h
/cmake-build-debug/CMakeFiles/ShowIncludes/main.c
/cmake-build-debug/CMakeFiles/ShowIncludes/main.obj
/.idea/misc.xml
/.idea/modules.xml
/.idea/codeStyles/Project.xml
/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
/.idea/vcs.xml
